@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contact {
    background-color: #E3D6C6;
    color: white;
    text-align: center;
}

.contact > h1 {
    padding: 20px;
    color: black;
}

.contact > ul {
    padding-bottom: 20px;
}

.contact li {
    padding: 3px;
    color: black;
    cursor: pointer;
}

.contact li:hover,
.contact p > a:hover {
    text-decoration: underline;
}

.contact a {
    text-decoration: none;
    color: black;
}

