@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #CCAF8F;
}

.header img {
    margin-left: 50px;
    width: 100px;
}

.header nav {
    list-style-type: none;
    display: flex;
    margin-right: 50px;
    font-size: 1.3em;
}

.header nav a {
    margin-right: 35px;
    color: #BACCD8;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: .3s;
    color: #75734D;
}

.header nav a:hover {
    background-color: #E3D6C6;
}

.active {
    background-color: #E3D6C6;
}