* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.home {
    background-color: #E3D6C6;
    color: white;
}

.home > h1 {
    text-align: center;
    padding: 20px;
    color: black;
}

.loading {
    display: flex;
    margin: auto;
    width: 8em;
    padding: 3em 0 5em 0;
}

.grid_areas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid_areas > div {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.grid_areas h2 {
    margin-bottom: 8px;
    color: black;
}

.grid_areas ul {
    list-style-type: none;
}

.grid_areas li {
    margin: 10px;
    cursor: pointer;
    color: black;
}

.checked {
    text-decoration: line-through;
}

.grid_areas li button {
    margin-left: 10px;
    border: none;
    padding: 3px;
    background-color: #CCAF8F;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #CCAF8F;
}

.grid_areas li button:hover {
    background-color: #E3D6C6;
}